.modal-overlay {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;   
  animation: fadeIn 0.3s ease-out forwards;
}

.modal-content {
  background: white;
  border-radius: 12px;
  padding: 3vw;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 60%;
  overflow-y: auto;
  transform: translateY(20px);
  opacity: 0;
  margin-left: 20%;
  animation: slideUp 0.3s ease-out forwards;
}

.modal-close {
  position: absolute;
  top: 2vh;
  right: 1vw;
  background: none;
  border: none;
  font-size: 1.6vw;
  cursor: pointer;
  color: #6b7280;
  padding: 1vw;
  line-height: 1;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.modal-close:hover {
  background-color: #f3f4f6;
  color: #1f2937;
}

.score-report {
  background: white;
  border-radius: 12px;
  padding: 3vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 80%;
  margin: 3vw auto;
  animation: slideUp 0.5s ease-out;
}

.score-report h2 {
  color: #1f2937;
  margin: 0 0 3vh 0;
  font-size: 1.8vw;
  text-align: center;
}

.score-bars {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.match-time {
  text-align: center;
  color: #6b7280;
  font-size: 1.2vw;
  margin: -2vh 0 3vh 0;
  font-weight: 500;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dark-mode .modal-content, .dark-mode .score-report {
  background: #23272f !important;
  color: #f3f4f6 !important;
  border-color: #27272a !important;
}
.dark-mode .score-label, .dark-mode .score-value {
  color: #ffffff !important;
}
.dark-mode .score-bar-container {
  background: #444466 !important;
}
/* .dark-mode .score-bar {
  background: #fbbf24 !important;
} */
.dark-mode .modal-close {
  color: #ffffff !important;
}

.dark-mode .score-report h2 {
  color: #ffffff;
}
